<table class="mt-2 table table-striped">
  <thead>
  <tr>
    <th scope="col">Center Name</th>
    <th scope="col">Contact No</th>
    <th scope="col">Address</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="centers.length===0">
    <td colspan="100%">
      <p>No data</p>
    </td>
  </tr>
  <tr *ngFor="let center of centers; index as i">
    <td >
      <span  *ngIf="!center.shouldUpdate">
        {{ center.centerName }}
      </span>
      <div
        [formGroup]="updateForm"
        *ngIf="center.shouldUpdate">
        <input
          formControlName="centerName"
          type="text"
          class="form-control"
        >
      </div>

    </td>
    <td >
      <span  *ngIf="!center.shouldUpdate">
        {{ center.contactNo }}
      </span>
      <div
        [formGroup]="updateForm"
        *ngIf="center.shouldUpdate">
        <input
          formControlName="contactNo"
          type="text"
          name="contactNo"
          class="form-control"
        >
      </div>

    </td>
    <td >
      <span  *ngIf="!center.shouldUpdate">
        {{ center.address }}
      </span>
      <div
        [formGroup]="updateForm"
        *ngIf="center.shouldUpdate">
        <input
          formControlName="address"
          name="address"
          type="text"
          class="form-control"
        >
      </div>

    </td>
    <td>
      <button
        [disabled]="updateForm.invalid"
        (click)="save(center)"
        type="button" class="m-1 btn btn-success"
        *ngIf="center.shouldUpdate"
      >Save</button>
      <button
        *ngIf="!center.shouldUpdate"
        (click)="updateCenter(center.centerId)"
        type="button" class="m-1 btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
        Update
      </button>
      <button
        *ngIf="!center.shouldUpdate"
        (click)="deleteCenter(center.centerId)"
        type="button" class="m-1 btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
        Delete
      </button>
      <button
        *ngIf="!center.shouldUpdate"
        (click)="openTestMangement(center,i)"
        type="button" class="m-1 btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
        Manage Test
      </button>
    </td>
  </tr>
  </tbody>
</table>
