<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HealthCareSystem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class=" navbar-nav mr-auto" *ngIf="!isLoggedIn">
      <li class=" nav-item">
        <a class="nav-link" [routerLink]="['users/register']" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['users/login']" routerLinkActive="active">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['users']" routerLinkActive="active">Home </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn && showAdminBoard">
        <a class="nav-link" [routerLink]="['admin']" routerLinkActive="active">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn && showModeratorBoard">
        <a class="nav-link" [routerLink]="['facilitator']" routerLinkActive="active">Facilitator Board</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="['users']" routerLinkActive="active">Users Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['profile']" routerLinkActive="active">
          {{ username }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>



<!-- <mat-toolbar  class="test">
  <mat-toolbar-row >
    <span>HealthCareSystem</span>

  </mat-toolbar-row>

</mat-toolbar> -->
