<div class="container">
   <div class="row">
     <div class="col-md-7">
        <table class="table table-dark table-hover" style="border:1.5px solid black;">
            <thead >
              <tr>
                <th scope="col" >Center Id</th>
                <th scope="col" >Center Name</th>
                <th scope="col" >List Of Test</th>
                <th scope="col" class="text-right">Action</th>
               </tr>
             </thead>
             <tbody>
               <ng-container *ngFor="let item of detail; let i=index" >
                   <tr class="table-dark" >
                       <td >{{item.centerId}}</td>
                       <td >{{item.centerName}}</td>
                       <td *ngFor="let t of item.testDetails">{{t.testName}}</td>
                        
                        <td class="text-right">
                          <button class="btn btn-outline-info badge-pill" style="width: 80px;" (click)="onAdd(item.centerId)">Add Test</button>
                       &nbsp;&nbsp; <button class="btn btn-outline-danger badge-pill" style="width: 80px;" (click)="onDelete(item.centerId)">Delete Test</button>
                      </td>
                    </tr>
        
               </ng-container>
         </tbody>
        
        </table>


       </div>
   </div>
</div>

