
    <mat-card-header>
        <mat-toolbar class="toolbar">
            <mat-card-title>Insert Test Details</mat-card-title> &nbsp; &nbsp;
            <span class="toolbar-spacer"></span>
            <button (click)="onNoClick()">cancel</button>
        </mat-toolbar>
    </mat-card-header>
               
    <mat-card-content>
       <div class="container">
        <form [formGroup]="addTestDetails">
                <div class="form-group">

                    <div ng-class="row">
                        <div class="col-md-6">
                            <label>Test Name</label>
                            <input #testName type="text" formControlName="testName" class="form-control">
                        </div>
                    </div>


                    <!--<div class="row">
                        <div class="col-md-6">
                            <label>Test Id</label>
                            <input #testId type="text" formControlName="testId" class="form-control">
                        </div>
                    </div>-->
                </div>

                <div class="row">
                    <button type="submit" (click)="goToView(testName.value)"  class="btn btn-success">Save</button>
                </div>

        </form>
       </div>
    </mat-card-content>

    