<div class="imgr">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="margin-right: 50px; " class="text-center pt-5">update Test</mat-card-title>
    
        </mat-card-header>
        <mat-card-content>
          <div class="col-md-3">
            <form>
                <div class="form-group">
                    <label>TestID</label>
                    <input type="text" name="id" [(ngModel)]="uTestId"  class="form-control">
                </div>
            
                <div class="form-group">
                    <label>TestName</label>
                    <input type="text" name="name" [(ngModel)]="uTestName" class="form-control">  
                </div>
            
                <div class="form-group">
                    <label>TestAttributeId</label>
                    <input type="text"  class="form-control">      
                </div>
            
                <div class="form-group">
                    <label>TestAttributeName</label>
                    <input type="text"  class="form-control">
                </div>
            
                <div class="form-group">
                    <input type="submit" value="Update Employee" [disabled]="!pop" (click)="onUpdate()" class="btn btn-primary">
                </div>
            </form>
            <!-- <div class="alert alert-info" *ngIf="updated">Data Updated</div> -->
            </div>
            
            <!-- <form class="example-form" >
                <mat-form-field class="example-full-width">
                  <mat-label>Test Name</mat-label>
                  <input matInput [formControl]="testAdditionFormControl" [errorStateMatcher]="matcher"
                         placeholder="TestName"
                         [(ngModel)]="testName" name="testName">
                  <mat-hint>Errors appear instantly!</mat-hint>
                  <mat-error *ngIf="!testAdditionFormControl.hasError('required')">
                    Please Give the input
                  </mat-error>
                  <mat-error *ngIf="testAdditionFormControl.hasError('required')">
                    Text is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
             
                <div class="pt-5">
                    <button (click)="addAttribute()"> Add attribute</button>
                    <mat-form-field *ngFor="let attribute of attributes;let i=index" class="example-full-width">
                        <mat-label>Attribute {{i+1}}</mat-label>
                        <input name="value" [(ngModel)]="attribute.value" matInput placeholder="Test Attribute" value="name">
                      </mat-form-field>
        
                    </div>
               
              </form>
                 -->
        </mat-card-content>
    
        <mat-card-actions>
            <button class="btn btn-success" (click)="goToUpdateTest()" >SUBMIT</button>
        </mat-card-actions>
      </mat-card>
      </div>
