<div class="container" >
  <div  class="alert alert-success mt-2" role="alert">
    Welcome!!!!
   </div>
    <table class="table table-light table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">CenterName</th>
          <th scope="col">Address</th>
          <th scope="col">Contact Info</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let center of arrayDetails">
          <th scope="row">{{center.centerId}}</th>
          <td>{{center.centerName}}</td>
          <td>{{center.address}}</td>
          <td>{{center.contactInfo}}</td>
          <td><button mat-raised-button color="primary" (click)="onSelect(center)">Select</button></td>
        </tr>
      </tbody>
    </table>

    <h2>{{currentCenterName}}</h2>
    <table class="table table-hover" *ngIf="tableStatus" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">TestName</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let test of test">
          <th scope="row">{{test.testId}}</th>

          <td>{{test.testName}}</td>
         <!-- <td>{{center.contact}}</td> -->
          <td><button class="btn btn-success btn-sm" (click)="onTestSelect(test)">Select</button></td>
        </tr>

      </tbody>
    </table>
  <button *ngIf="btnStatus" mat-raised-button color="primary" class="btn btn-primary btn-sm mb-2" (click)="openDialog1()">Make An Appointment</button>

</div>
