<div style="height:auto;overflow-y: scroll;" class="container-fluid mt-5">
  <!-- Button trigger modal -->

  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab title="Diagnostic Center">
      <ng-template ngbTabContent>
        <app-diagnostic-center ></app-diagnostic-center>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Diagnostic Test">
      <ng-template ngbTabContent>
        
        <app-testmanagement></app-testmanagement>
  
      </ng-template>
    </ngb-tab>


  </ngb-tabset>

</div>
