
<div class="jumbotron">
  <h2 mat-dialog-title>Please Select your date</h2>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input #inputdate class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary btn-sm calendar" (click)="d.toggle()" type="button">
            <span class="material-icons">
              date_range
              </span>
          </button>
        </div>
      </div>

    </div>
    <div>
      <button  class="btn btn-outline-success ml-2" [class.d-none]="!inputdate.value" (click)="value(inputdate.value)">
              Confirm</button>
              <button  class="btn btn-outline-danger mx-2" mat-dialog-close>
                Cancel</button>
    </div>



    </form>
  <hr/>
  <!-- <pre>Model: {{ model | json }}</pre>  gives data -->


  <hr>
  <!-- <mat-dialog-actions>
  <button class="btn btn-outline-success" (click)="onClicked(model.year,model.month,model.day)" type="submit" mat-dialog-close>Confirm</button>

  </mat-dialog-actions> -->
  </div>
  <!-- <button class="btn btn-sucess btn-sm" type="submit" mat-dialog-close>Closed</button> -->


